<h1>A list of VC firms, their people, and their investments.</h1>
<p>Find me in app/views/root_page/vc_firms.html.erb</p>
<p>And a link to the <a href="/root_page/potential_investments">potential investments.
</p>